/* Write your CSS here */

.main1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
.button {
  background-color: transparent;
  border-color: #ff0b37;
  color: #ff0b37;
  border-radius: 10px;
}
